@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê Top</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="logo.png">

    @if(!"Home".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/default.css"/>

    }

    @if("Cadastro".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/cadastro.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/default.css"/>
        
    }



    @if("Reserva".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/reservar.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/default.css"/>
        

    }

    @if("Dashboard".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/default.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/dashboard.css"/>
    }
</head>
<body>
    <h1>Rolê Top</h1>
    <header>
        <nav>
            
            <div class="section-container">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                    <li><a href='@Url.Action("Index", "Home")#eventos'>Eventos</a></li>
                    <li><a href='@Url.Action("Index", "Home")#galeria'>Galeria</a></li>
                    <li><a asp-controller="Reserva" asp-action="Index">Reservar</a></li>
                    <p>|</p>
                    <div class="login">   
                    @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                    {
                    <li><a asp-controller="Cliente" asp-action="Login">Login/Cadastro</a></li>
                    }
                     else
                    {
                    <li><a asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                    <li><a asp-controller="Cliente" asp-action="Historico">Reservas</a></li>
                    }             
                    </div> 
                 </ul>
            </div>
            <hr>
        </div>   
        </nav>
    </header>
         @RenderBody()
        <footer>
        <div class="section-container">
            <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br />
                roletop@email.com
                <br />
                11 1234 6789
            </address>
            <a href="#">Voltar para o topo!</a>
        </div>
    </footer>
    
    
    </body>
    </html>
